/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.features, .main-features, .contact {

    width: 40%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.features h2, .main-features h2, .contact h2 {
    margin-bottom: 10px;
}

.features ul, .main-features ul {
    list-style-type: disc;
    margin-left: 20px;
}

.hero {
    margin-bottom: 60px;
}

.bb {
    display: flex;
    justify-content: center;
}

/* ボタンのスタイル */
.register-button {
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* ボタンのテキストの色 */
    padding: 10px 20px; /* ボタンのパディング */
    border: none; /* ボタンの枠線を削除 */
    border-radius: 5px; /* ボタンの角丸 */
    cursor: pointer; /* マウスをボタンの上に置いたときのカーソルの形 */
    transition: background-color 0.3s; /* ホバーエフェクトの速度 */
  }
  
  /* ボタンのホバーエフェクト */
  .register-button:hover {
    background-color: #45a049; /* ホバー時の背景色 */
  }
  


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    margin-bottom: 10px;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}
