<!DOCTYPE html>
<html lang="ja">
<head>
    {{ template "head" . }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/service/dashboard.css">
</head>
<body>
    {{ template "navbar" .}}
    <button onclick="openModal()">作成</button>

    <h2>サービス一覧</h2>
    {{range .env_data}}
        <h2><a href="/service/{{.Service_id}}">{{.Service_name}}</a></h2>
    {{end}}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form id="envForm" action="/service/create" method="post">
                <input type="hidden" name="userid" value="{{.userid}}">
                <div id="inputContainer">
                    <input type="text" placeholder="サービス名" name="service_name">
                    <div class="inputGp">
                        <input type="text" placeholder="ENV_NAME" name="env_name">
                        <input type="text" placeholder="ENV_VALUE" name="env_value">
                    </div>
                </div>
                <button type="button" onclick="addInput()">環境変数を追加</button>
                <button type="submit">送信</button>
            </form>
        </div>
    </div>
    
    <script src="/static/service/dashboard.js"></script>
</body>
</html>