<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Sign Up</title>
    {{ template "head" . }}
    <link rel="stylesheet" href="/static/auth/signup.css">
</head>

<body style="height: 100vh;">
    {{ template "navbar" . }}
    <div class="container mt-3">
        <div class="display w-70 mx-auto">
            <h1 class="text-center mb-4">Sign Up</h1>

            <h2 class="text-center mb-4"><a href="/auth/discord/login" class="btn btn-primary btn-lg"><s>Discordでログイン</s></a></h2>
    
            <p class="text-center">または</p>
    
            <p id="error_msg" class="text-danger text-center"></p>
    
            <form method="post">
                <div>
                    <label for="username" class="form-label">ユーザ名</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="ニックネームを入力 (必須)" autocomplete="off" required>
                </div>
    
                <div>
                    <label for="email" class="form-label">メールアドレス</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="ex@example.jp (任意)">
                </div>
    
                <div>
                    <label for="password" class="form-label">パスワード</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
    
                <div>
                    <label for="confirm_password" class="form-label">パスワード確認</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                </div>
    
                <div class="submit">
                    <button type="submit" class="btn btn-primary" onclick="return confirmPassword();">登録</button>
                </div>
            </form>
            <div>
                <p class="text-center mt-3">アカウントをお持ちですか？ <a href="/auth/login">ログイン</a></p>
            </div>
        </div>
    </div>
</body>

</html>