<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/top/style.css">
    <title>EnvEase</title>
    {{ template "head" . }}
</head>

<body>
    {{ template "navbar" . }}

    <div class="content">
        <div>
            <div class="content">
                <section class="features">
                    <h2>用途</h2>
                    <p>当サービスは.ENVファイルの管理を安全に且つ容易にするためにあります. 複数クライアントでENVファイルを共有したいとき, Githubには公開したくないデータがある時などに活用できます.</p>
                </section>
            </div>

            <div class="content">
                <section class="features">
                    <h2>特長</h2>
                    <ul>
                        <li>簡単な管理: 環境変数を追加、編集、削除するのが簡単です。</li>
                        <li>セキュア: サーバ側には暗号化されたデータしか保存されません。</li>
                        <li>使いやすいインターフェース: 直感的なUIでストレスなく操作できます。</li>
                    </ul>
                </section>
            </div>

            <div class="content">
                <section class="main-features">
                    <h2>仕組み</h2>
                    <img src="/static/img/logic.png" alt="">
                </section>
            </div>

            <div class="content">
                <section class="hero">
                    <h2>EnvManagerを使ってみましょう</h2>
                    <button type="button" onclick="window.location.href='/auth/signup'">新規登録</button>

                    <p>既にアカウントをお持ちの方は<a href="/auth/login">ログイン</a></p>
                </section>
            </div>
        </div>
    </div>


    <footer>
        <p>EnvManger - 環境変数の管理をもっと簡単に。</p>
        <p>&copy; 2024 EnvManger. All rights reserved.</p>
    </footer>
</body>

</html>